h1 {
	line-height: 16px;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #4F4D4C;
	text-indent: 0;
	width: 100%;
	padding: 1px;
}

h2, h3 {
	line-height: 16px;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #4F4D4C;
	text-indent: 0;
	width: 100%;
	padding: 1px;
}

p { 
	color: rgb(153, 0, 0);
}

body { 
   margin:5px;
   font-size:12px;
}

.tablas{
	margin:auto;
	border-collapse: collapse;
}
.tablas table, th, td {

   
   border-color: #4e688e;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    padding:3px;
    text-align:center;
    
}

.tablas tr:hover {
	background-color: aliceblue;  
}

.tablas th{
	background-color: aliceblue;
    height: 30px;
	font-size:12px;
}

form [type="submit"], form [type="button"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 60px;
    background: #4e688e;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 12px;
    height: 30px;
    padding: 5px;
    margin: 0px;
}
form [type="text"], form [type="password"] ,form [type="number"]  {
    border-color: #4e688e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    width: 50px;
    height: 15px;
    background: aliceblue;
    margin:2px;
}
form [type="checkbox"]{

    width: 5%;

}

textarea {
    border-color: #4e688e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    width: 200px;
    height: 60px;
    background: aliceblue;
}
select {
    border-color: #4e688e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    height: 30px;
    background: aliceblue;
}
label{
	width:90%;
	text-align:left;
}
.izquierda{
	padding:5px;
	float:left;
}
.derecha{
	float:left;
}
.nombres{
	font-weight: bold;
    font-size: 50px;
    padding: 0;
    margin: 0;
    color: #4e688e;
}
.amaga{
    display: none;
}
.alineat{
    margin:1px;
    float: left;
}
#formini{
    width: 325px;
}
#formini2{
    width: 125px;
}
#pasa2{
    width: 50px;
}
